
.navbar{
    .searchInput {
        margin-left: 138px;
        height: 31px;
        width: 47%;
    }
    
    .listItem{
        margin-left: 20px;
    }

    .loginBtn{
        padding: 1px 15px;
        margin-top: 7px;
        font-size: 13px;
    }
}
